<div class="page-title">	<i class="icon-custom-left"></i>
  <h3>Twitter <span class="semi-bold">Search</span></h3>
  <p>
    In case of insufficient leads in a category use this search function for new keywords. The results from the search will be piped into the queue used to feed the classifier. After this search is run everything else proceeds the same way.
  </p>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-title no-border">
        <h3>Search</h3>
      </div>
      <div class="grid-body no-border">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

