<div class="page-title">	<i class="icon-custom-left"></i>
  <h3>Twitter <span class="semi-bold">Search</span></h3>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-title no-border">
        <h3>Search words</h3>
      </div>
      <div class="grid-body no-border">
        <table class="table no-more-tables">
          <thead>
          <tr>
            <th style="width:48%">Search Terms</th>
          </tr>
          </thead>
          <tbody>

          <% @search_words.each do |search_word, tweets| %>
            <tr>
              <td><span class="muted"><%= search_word %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
