<div class="page-title">	<i class="icon-custom-left"></i>
  <h3>Word Count For <span class="semi-bold"><%= @word %></span></h3>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-title no-border">
        <h3>Search words</h3>
      </div>
      <div class="grid-body no-border">
        <table class="table no-more-tables">
          <thead>
          <tr>
            <th style="width:40%">Tweets</th>
            <th style="width:8%">Category</th>
          </tr>
          </thead>
          <tbody>

          <% @tweets.each do |tweet| %>
            <tr>
              <td><span class="muted"><%= tweet.tweet_body %></span>
              </td>
              <td><span class="muted"><%= tweet.tweet_type %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
