<div class="row">
  <div class="col-md-12 hidden-xlg">
    <div class="row tiles-container  m-b-20 hidden-xlg">
      <div class="m-l-10 ">
        <div class="tiles grey p-t-15 p-b-15 p-l-25 ">
          <h5 class="text-black semi-bold">LEADS</h5>
        </div>
        <div class="tiles white">
          <%= render 'leads' %>
        </div>
        <!--<div class="tiles grey p-t-5 p-b-5 ">-->
        <!--<p class="text-center"> <a href="javascript:;" class="text-black semi-bold  small-text">Load More</a></p>-->
        <!--</div>-->
      </div>
    </div>
    <%= will_paginate @leads %>
  </div>
</div>

